.clientes-container {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media(min-width: 1200px) {
	.clientes-container {
		padding-left: calc((100vw - 900px)/2);
		padding-right: calc((100vw - 900px)/2);
	}
}
