.button {
  display: block;
  background-color: var(--primary-color);
  border-radius: 7px;
  width: 100%;
  margin-top: 1rem;
  max-width: 20rem;
  padding: 1.125rem;
  box-sizing: border-box;
  color: var(--contrast-light-color);
  font-size: var(--font-size-button);
  align-self: center;
  text-align: center;
}

.simple-button {
  border: none;
  background-color: unset;
}

.simple-button--add {
  color: var(--primary-color);
}

.simple-button--delete {
  color: var(--warning-color);
}

.simple-button--edit {
  color: var(--success-color);
}
